@model List<Archidoc_F.Models.Liste_documents>
@{
    Layout = "_Layout_sectionRec";
    ViewData["Title"] = "Repertoire Documents Archivés";
}
<h2>@ViewData["Title"]</h2>
<a asp-area="" asp-controller="Home" asp-action="Affichage_Archi" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
</a>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Code Archive</th>
                <th scope="col">Nom Document</th>
                <th scope="col">Categorie Document</th>
                <th scope="col">Nom Employeur</th>
                <th scope="col">Type Employeur</th>
                <th scope="col">Numero Affiliation</th>
                <th scope="col">Nom Commune</th>
                <th scope="col">Libelle periode</th>
                <th scope="col">Libelle Rayon</th>
                <th scope="col">Service Provenance</th>
                

            </tr>
        </thead>
       
        <tbody>
            @foreach (var ab in Model) {
            <tr>
                <td>@ab.Code_Archive</td>
                <td>@ab.nom_document</td>
                <td>@ab.type_Document</td>
                <td>@ab.nom_Employeur</td>
                <td>@ab.nom_TypeE</td>
                <td>@ab.numero_Affiliation</td>
                <td>@ab.nom_commune</td>
               <td>@ab.Libelle_periode</td>
                <td>@ab.Libelle_Rayon</td>
                <td>@ab.nom_service</td>
                

            </tr>
            }
            
        </tbody>
    </table>
</div>

